<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gprinter">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application>
        <service
                android:name="com.gprinter.service.GpPrintService"
                android:label="GpPrintService"
                android:process=":remote"
                android:enabled="true"
                android:exported="true"
        >
            <intent-filter>
                <action android:name="com.gprinter.aidl.GpService" />
            </intent-filter>
        </service>

    </application>
</manifest>
